<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/style.css">
    <title>Gerenciador de Tarefas</title>
</head>

<body>

    <div>
        <h1>Gerenciador de tarefas</h1>

        <input type="text" placeholder="Digite uma tarefa" id="input-tarefa">

        <button class="adicionar" onclick=addtask()>
            Adicionar
        </button>

        <ul>
            <li>Tarefa 1 <button>Remover</button> </li>
            <li>Tarefa 2 <button>Remover</button> </li>
            <li>Tarefa 3 <button>Remover</button> </li>
        </ul>
    </div>

    <script src="../js/script.js"></script>
</body>

</html>